.sbHdrHdng {
	font-size: 38px;
	font-weight: bold;
	color: #ff8f8f;
}
.sbHdrPhoto {
	border-radius: 50%;
}
.sbHdrInits {
	font-size: 30px;
	font-weight: 700;
	color: #ff8f8f;
}
.sbHdrCenterText {
	text-align: center;
}
.sbHdrSmLink {
	text-decoration: none;
	color: #73b9ff;
}
.sbHdrSmLink:hover {
	color: #0000ff;
	cursor: pointer;
}
.sbHdrLgLink {
	font-size: 22px;
	font-weight: 600;
	color: #555;
	text-decoration: none;
}
.sbHdrLgLink.wht {
	color: #73b9ff;
}
.sbHdrLgLink:hover {
	color: #0000ff;
	cursor: pointer;
}
.sbHdrLgNotLink {
	font-size: 22px;
	font-weight: 600;
	color: #555;
	text-decoration: none;
}
.sbHdrLgNotLink.wht {
	color: #cacad9;
}

@media screen and (max-width: 768px) {
	.sbHdrHdng {
		font-size: 28px;
	}
}

@media screen and (max-width: 576px) {
	.sbHdrHdng {
		font-size: 38px;
	}
}
