.phySideContainer {
	width: 96%;
	margin-left: auto;
	margin-right: auto;
}
.sbIcoImg:hover {
	cursor: pointer;
}
.sbButton {
	width: 94%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 12px;
	padding: 5px 10px;
	font-size: 17px;
	font-weight: 700;
	text-align: center;
	color: #555;
	border-radius: 10px;
	border: 2px solid #555;
}
.sbButton:hover,
.sbButton.active {
	color: #cacad9;
	cursor: pointer;
	border: 2px solid #cacad9;
}
.sbLink {
	text-decoration: none;
}
.sbPhoto {
	width: auto;
	height: 40px;
	border-radius: 50%;
}
.sbInits {
	font-size: 30px;
	font-weight: 700;
	color: #ff0000;
}
