.phyPgContainer {
	width: 100%;
	min-height: 100vh;
}
.phySideDiv {
	min-height: 82vh;
	border-right: 2px dotted #555;
}

@media screen and (max-width: 576px) {
	.phySideDiv {
		border-right: none;
	}
}
