.phyPgContainer {
	width: 98%;
	min-height: 100vh;
	margin-left: auto;
	margin-right: auto;
	padding-top: 120px;
}
.phyDataContainer {
	min-height: 100vh;
	padding-top: 18px;
	border-right: 2px dotted #cacad9;
}
.phyContContainer {
	min-height: 100vh;
	padding-top: 15px;
}

@media screen and (max-width: 768px) {
	.phyDataContainer {
		height: auto;
		min-height: 20px;
		border: none;
	}
	.phyContContainer {
		height: auto;
		min-height: 20px;
	}
}

@media screen and (max-width: 576px) {
	.phyDataContainer {
		padding-top: 0px;
	}
	.phyContContainer {
		padding-top: 0px;
	}
}

@media screen and (max-width: 400px) {
	.phyPgContainer {
		padding-top: 110px;
	}
}
