.button {
	width: auto;
	padding: 10px 20px;
	font-size: 18px;
	font-weight: 500;
	color: #cacad9;
	border-radius: 10px;
	background-color: transparent;
}
.button:hover {
	color: white;
	cursor: pointer;
}
.button:disabled {
	color: #222;
	border: 2px solid #222;
	cursor: default;
}
