.spnRegBtnBigText {
	font-size: 18px;
	font-weight: 600;
}
.spnRegBtnSmText {
	font-size: 14px;
	font-weight: 500;
}
.spnRegColBorder {
	border: 2px dotted #8000ff;
	border-radius: 40px;
}
.spnRegColHdng {
	font-size: 23px;
	font-weight: 600;
}
