.subPgContainer {
	width: 100%;
	min-height: 100vh;
}
.subSideDiv {
	height: 100%;
	min-height: 82vh;
	border-right: 2px dotted #555;
}
.subContContainer {
	min-height: 100vh;
	padding-top: 15px;
}

@media screen and (max-width: 768px) {
	.subContContainer {
		height: auto;
		min-height: 20px;
	}
}

@media screen and (max-width: 576px) {
	.subSideDiv {
		border-right: none;
	}
	.subContContainer {
		padding-top: 0px;
	}
}
