.pgSubHdrContainer {
	width: 100%;
	border-bottom: 2px dotted #555;
}
.pgSubHdrLogo {
	width: auto;
	height: auto;
	max-width: 400px;
	max-height: 140px;
}
.pgSubHdrAd {
	width: auto;
	height: auto;
	max-width: 96%;
	max-height: 140px;
}
