.ppVstDate {
	color: #73b9ff;
}
.ppColData {
	min-height: 80vh;
}
.ppDivData {
	border: 2px dotted #ff0000;
	border-radius: 20px;
}
.ppDivSoap {
	border: 2px dotted #0000ff;
	border-radius: 20px;
}
.ppDivRest {
	border: 2px dotted #8000ff;
	border-radius: 20px;
}
.ppCompHdng {
	font-size: 20px;
	font-weight: 600;
}
.ppDataText {
	font-size: 15px;
	font-weight: 600;
	color: #73b9ff;
}
.ppta {
	width: 100%;
	padding: 5px 10px;
}
.ppComingText {
	font-size: 15px;
	color: #73b9ff;
}
.chkCol {
	padding-top: 2px;
}
.signedText {
	font-size: 14px;
	font-style: italic;
	font-weight: 500;
}
.signedDate {
	font-size: 14px;
	font-weight: 500;
}
