.phyHdrContainer {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 2px dotted #cacad9;
	background-color: #000;
	z-index: 1000;
}
.phyHdrLogoS3x {
	width: auto;
	height: auto;
	max-width: 90%;
	max-height: 50px;
}
.phyHdrLogoS3x:hover {
	cursor: pointer;
}
.phyHdrDate {
	font-size: 14px;
	line-height: 19px;
	font-weight: 600;
}
.phyPic {
	width: auto;
	height: 40px;
	border-radius: 50%;
}
.phyHdrIconDiv {
	width: 23%;
}
.phyHdrMenuDiv {
	position: relative;
	width: 23%;
}
.phyHdrIcon {
	width: auto;
	height: 30px;
	max-height: 40px;
}
.phyHdrIcon:hover {
	cursor: pointer;
}
.mobileMenu {
	width: 300px;
	height: auto;
	background-color: #0f1416;
	z-index: 900;
}
.mnuLink {
	font-size: 13px;
	line-height: 19px;
}
.mnuLink:hover {
	color: #73b9ff;
	cursor: pointer;
}
.mnuIcon {
	width: auto;
	height: auto;
	max-height: 30px;
}
.phyPhotoInits {
	font-size: 30px;
	font-weight: 700;
	color: #ff0000;
}

@media screen and (min-width: 576px) {
	.phyHdrDate {
		font-size: 17px;
		line-height: 23px;
	}
	.phyPic {
		height: 50px;
		max-height: 50px;
	}
	.phyHdrIcon {
		width: auto;
		height: 40px;
	}
	.mobileMenu {
		width: 400px;
	}
}
