.pdBox {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
	border: 2px dotted #cacad9;
}
.pdSecHdng {
	font-size: 17px;
	font-weight: 500;
}
.pdSideMenuIcon {
	width: auto;
	max-height: 13px;
}
.pdSideMenuIcon:hover {
	cursor: pointer;
}
.pdText {
	font-size: 13px;
	font-weight: 500;
}
.pdText.blu {
	color: #73b9ff;
}
