.ocPhoto {
	border-radius: 50%;
}
.ocTextLg {
	font-size: 20px;
	font-weight: 600;
}
.ocTextSm {
	font-size: 15px;
	font-weight: 500;
}
.ocTextSm.blu {
	color: #73b9ff;
}
.ocTextSm.red {
	color: #ff8f8f;
}
