.histHdng {
	font-size: 14px;
	font-weight: 500;
	color: #ff8f8f;
}
.histHdng.wht {
	color: #cacad9;
}
.histHdng.wht:hover {
	cursor: pointer;
	color: #73b9ff;
}
.histBox {
	border-radius: 20px;
	border: 2px solid #555;
}
.chkBox {
	width: 18px;
	height: 18px;
}
