@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.body {
	width: 100%;
	height: auto;
	min-height: 100vh;
	font-size: 15px;
	font-weight: 500;
	color: #cacad9;
	background-color: #000;
	overflow-x: hidden;
}
.errMsg {
	font-size: 14px;
	color: #ff0000;
}
@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

/******************************************/
/*** FORM STYLES ***/
/******************************************/
.frmLabel {
	font-size: 14px;
	font-weight: 500;
	color: #3395ff;
}
.inpBorder {
	width: 100%;
	height: 32px;
	padding-left: 5px;
	font-size: 14px;
	font-weight: 500;
	color: #c9c9d9;
	background-color: transparent;
	border: 2px solid #222222;
	border-radius: 7px;
}
.inpTa {
	width: 100%;
	padding-left: 5px;
	font-size: 14px;
	font-weight: 500;
	color: #c9c9d9;
	background-color: transparent;
	border: 2px solid #222222;
	border-radius: 7px;
}
.inpMonth {
	width: 100%;
	padding: 8px 12px;
	border: 2px solid #222222;
	border-radius: 7px;
	background: transparent url('../assets/images/icoCalendar.png') right no-repeat;
}
.chkInput {
	display: none;
}
input {
	color: #cacad9 !important;
}
input::placeholder {
	color: #73b9ff !important;
	opacity: 1; /* Firefox */
}

input::-ms-input-placeholder {
	/* Edge 12 -18 */
	color: #73b9ff !important;
}
.chkBox {
	width: 18px;
	height: 18px;
}
.fgtLinkText {
	font-size: 15px;
	font-weight: 500;
	color: #adb5bd;
	text-decoration: none;
}
.fgtLinkText:hover {
	cursor: pointer;
	color: #dee2e6;
}
select option {
	background-color: rgba(0, 0, 0, 0.95);
}

/******************************************/
/*** SIDEBAR STYLES ***/
/******************************************/
.sbButton {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 10px;
	font-size: 17px;
	font-weight: 700;
	text-align: center;
	color: #555;
	border-radius: 10px;
	border: 4px solid #555;
}
.sbButton:hover,
.sbButton.active {
	color: #cacad9;
	cursor: pointer;
	border: 4px solid #cacad9;
}
.sbBox {
	border-radius: 20px;
	border: 2px solid #555;
}
.sbIcoSearch:hover {
	cursor: pointer;
}
/*
@media screen and (max-width: 640px) {
	.sbButton {
		font-size: 14px;
		font-weight: 500;
	}
}
*/
