@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.body {
	width: 100%;
	height: auto;
	min-height: 100vh;
	font-size: 17px;
	font-weight: 500;
	color: #cacad9;
	background-color: #000;
	overflow-x: hidden;
}
.errMsg {
	font-size: 14px;
	color: #ff0000;
}
@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
