* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.body {
	width: 100%;
	height: auto;
	min-height: 100vh;
	font-size: 14px;
	font-weight: 500;
	color: #cacad9;
	background-color: #000;
	overflow-x: hidden;
}
.errMsg {
	font-size: 14px;
	color: #ff0000;
}

/******************************************/
/*** FORM STYLES ***/
/******************************************/
.frmLabel {
	font-size: 14px;
	font-weight: 500;
	color: #73b9ff;
}
.inpBorder {
	color: #c9c9d9;
	background-color: transparent;
	border: 1px solid #c9c9d9;
	border-radius: 7px;
}

/**************************/
/*** PUBLIC PAGE SYTLES ***/
/**************************/
.pbpgSection {
	width: 100%;
	padding: 0px 16px;
	border-bottom: 2px dotted #555;
}
.pbpgSection.noBorder {
	border-bottom: none;
}
.pbpgContainer {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
.pbpgHdng {
	font-size: 30px;
	font-weight: 600;
	text-align: center;
}
.pbColSides {
	width: 47% !important;
	height: auto;
}
.pbpgText {
	font-size: 17px;
}
.pbpgText.center {
	text-align: center;
}
.pbColCenter {
	width: 6% !important;
	height: auto;
}
.pbColImg {
	width: 100% !important;
	height: auto;
	border: 5px solid #555;
	border-radius: 40px;
}
.icoSectionHdng {
	width: auto;
	max-height: 100px;
}
.fgtLinkText {
	font-size: 17px;
	font-weight: 600;
	color: #9797a6;
	text-decoration: none;
}
.fgtLinkText:hover {
	cursor: pointer;
	color: #fff;
}
.icoSmall {
	width: auto;
	height: auto;
	max-height: 25px;
}
.icoSmall:hover {
	cursor: pointer;
}
.verifyLogo {
	width: auto;
	max-width: 100%;
	max-height: 200px;
}

/******************************************/
/*** PRIVATE PAGE STYLES ***/
/******************************************/

/******************************************/
/*** RESPONSIVE SYTLES ***/
/******************************************/
@media screen and (max-width: 1800px) {
	.pbpgContainer {
		width: 80%;
	}
}

@media screen and (max-width: 1400px) {
	.pbpgContainer {
		width: 90%;
	}
}

@media screen and (max-width: 1200px) {
	.pbpgContainer {
		width: 100%;
	}
	.pbColSides {
		width: 92% !important;
		margin-left: 4%;
		margin-right: 4%;
	}
	.pbpgHdng {
		font-size: 27px;
		line-height: 35px;
	}
	.pbpgText {
		font-size: 17px;
	}
	.pbColImg {
		width: 70% !important;
	}
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
	.pbpgHdng {
		font-size: 25px;
		line-height: 33px;
	}
	.pbpgText {
		font-size: 15px;
	}
	.pbColImg {
		width: 80% !important;
	}
}

@media screen and (max-width: 576px) {
	.pbColImg {
		width: 100% !important;
	}
}
