.hmpgMarketText {
	font-size: 20px;
	line-height: 26px;
	text-align: center;
}
.hmpgButton {
	width: 94%;
	max-width: 175px;
	height: auto;
}
.finDiv {
	width: 25%;
	z-index: 800;
}
.finDivBorder {
	position: relative;
	width: 100%;
	height: 85%;
	border: 5px solid #555;
	border-radius: 30px;
}
.hmpgIcoControl {
	width: auto;
	height: 100px;
}
.finHdng {
	font-size: 28px;
	line-height: 28px;
	font-weight: 700;
	text-align: center;
}
.finInfoDesc {
	font-size: 14px;
	font-weight: 600;
	text-align: center;
}
.finSubHdng {
	font-size: 22px;
	line-height: 30px;
	font-weight: 600;
	text-align: center;
}
.finText {
	margin-bottom: 8px;
	font-size: 17px;
	line-height: 25px;
}
.finInfoText {
	position: absolute;
	bottom: 0;
	font-size: 12px;
	font-weight: 500;
	text-align: center;
}
.hmpgMarketLogo {
	width: auto;
	height: auto;
	max-width: 90%;
	max-height: 150px;
}
.hmpgInfoText {
	font-size: 12px;
	font-weight: 500;
}

@media screen and (max-width: 1400px) {
	.finDiv {
		width: 30%;
	}
}

@media screen and (max-width: 1200px) {
	.finDiv {
		width: 55%;
	}
}

@media screen and (max-width: 768px) {
	.finDiv {
		width: 70%;
	}
}
