.vidScreen {
	width: 400px !important;
	height: 250px !important;
	border: 4px solid #555555;
}

@media screen and (max-width: 480px) {
	.vidScreen {
		width: 350px !important;
		height: 200px !important;
	}
}
