.hdrContainer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	padding-top: 0px;
	border-bottom: 2px dotted #555;
	background-color: #000;
	z-index: 900;
}
.icoText {
	font-size: 17px;
	color: #cacad9;
	text-decoration: none;
}
.icoText.blu:hover {
	color: #0000ff;
	cursor: pointer;
}
.icoText.red:hover {
	color: #ff0000;
	cursor: pointer;
}
.icoText.ppl:hover {
	color: #8000ff;
	cursor: pointer;
}
.icoLogin {
	max-height: 60px;
	width: auto;
}
.logoSubText {
	font-size: 17px;
	font-weight: 500;
	color: #cacad9;
	text-decoration: none;
}
.logoSubText:hover {
	color: #73b9ff;
	cursor: pointer;
}
.hdrLogo {
	width: auto;
	max-width: 100%;
	max-height: 147px;
}
.hdrLogoSm {
	width: auto;
	height: auto;
	max-width: 90%;
	max-height: 50px;
}

/* Nav Links */
.navLink {
	font-size: 15px;
	color: #cacad9;
	text-decoration: none;
}
.navLink:hover {
	color: white;
	cursor: pointer;
}
.navDDLink {
	font-size: 17px;
	font-weight: 600;
	text-decoration: none;
}
.navDDLink.blu {
	color: #0000ff;
}
.navDDLink.blu:hover {
	color: #3395ff;
	cursor: pointer;
}
.navDDLink.red {
	color: #ff0000;
}
.navDDLink.red:hover {
	color: #ff8f8f;
	cursor: pointer;
}
.navDDLink.ppl {
	color: #8000ff;
}
.navDDLink.ppl:hover {
	color: #c175ff;
	cursor: pointer;
}
.menuDropdown {
	background-color: #0f1416;
}
.mobileMenu {
	position: relative;
	top: 0;
	right: 0;
	background-color: #0f1416;
	z-index: 1000;
}
.mobileMenuHdng {
	font-size: 18px;
	color: #cacad9;
	font-weight: 600;
	text-decoration: underline;
}
.mobileMenuHdng.nounderline {
	text-decoration: none;
}
.dropdown-toggle::after {
	display: none !important;
}

@media screen and (max-width: 1366px) {
	.hdrContainer {
		padding-top: 10px;
	}
}

@media screen and (max-width: 1200px) {
	.hdrContainer {
		width: 96%;
	}
	.navLink {
		font-weight: 600;
	}
}
