.phyPreRegMidTextLg {
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
	text-align: center;
}
.phyPreRegMidTextSm {
	font-size: 27px;
	line-height: 31px;
	font-weight: 700;
	text-align: center;
}
.phyPreRegCenterDiv {
	padding: 20px 10px;
	border: 2px solid #ff0000;
	border-radius: 20px;
}
.phyPreRegHdngSphere {
	margin-bottom: 7px;
	font-size: 27px;
	line-height: 37px;
	font-weight: 700;
}
.phyPreRegHdngSphere.center {
	text-align: center;
}
.phyPreRegInfoText {
	font-size: 12px;
	font-weight: 500;
}
.phyPreRegLogo {
	width: auto;
	height: auto;
	max-width: 96%;
	max-height: 170px;
}
.phyPreRegPriceTextLg {
	font-size: 15px;
	font-weight: 600;
}
.phyPreRegPriceTextSm {
	font-size: 12px;
	font-weight: 500;
}
.centerLogo {
	width: auto;
	height: auto;
	max-width: 94%;
	max-height: 250px;
}
.centerLogoSm {
	width: auto;
	height: auto;
	max-width: 90%;
	max-height: 200px;
}
.divBorder {
	border: 5px solid #555;
	border-radius: 40px;
}
