.sbHdrHdng {
	font-size: 38px;
	font-weight: bold;
	color: #3395ff;
}
.sbHdrPhoto {
	border-radius: 50%;
}
.sbHdrInits {
	font-size: 30px;
	font-weight: 700;
	color: #3395ff;
}
.sbHdrCenterText {
	text-align: center;
}
.sbHdrSmLink {
	text-decoration: none;
	color: #73b9ff;
}
.sbHdrSmLink:hover {
	color: #0000ff;
	cursor: pointer;
}
.sbHdrText {
	font-size: 17px;
	font-weight: 500;
}

@media screen and (max-width: 768px) {
	.sbHdrHdng {
		font-size: 28px;
	}
}

@media screen and (max-width: 576px) {
	.sbHdrHdng {
		font-size: 20px;
	}
}
